{% extends 'base.html' %}
{% block title %}
    My Tasks
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
        {% if show_my_tasks %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for tasks in show_my_tasks %}
                    <tr>
                        <td>{{ tasks.name }}</td>
                        <td>{{ tasks.start_date }}</td>
                        <td>{{ tasks.due_date }}</td>
                        <td>{{ tasks.is_completed|yesno }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>You have no tasks</p>
        {% endif %}
    </div>
</main>

{% endblock content %}

{% load static %}
