{% extends 'base.html' %}
{% block title %}
    Project Details
{% endblock title %}

{% block content %}
<main>
    <div>
    {% for items in details %}
        <h1>{{ items.name }}</h1>
        <p>{{ items.description }}</p>
    {% endfor %}
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        {% if show_project %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for project in show_project %}
                    <tr>
                        <td>{{ project.name }}</td>
                        <td>{{ project.assignee }}</td>
                        <td>{{ project.start_date }}</td>
                        <td>{{ project.due_date }}</td>
                        <td>{{ project.is_completed|yesno }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>This project has no tasks</p>
        {% endif %}
    </div>
</main>

{% endblock content %}

{% load static %}
